# DDEV (keep config.yaml; ignore local overrides)
.ddev/.homeadditions
.ddev/config.local.yaml
.ddev/.global_commands

# Drupal
vendor/
web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/sites/*/files/
.env

# Frontend
src/node_modules/
src/dist/
src/.env

# Logs & OS
scripts/logs/
.local/
*.log
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
